In [9]:
grade = int(input("Enter the grade"));
    
if (grade > 90):
    print("A");

elif (grade > 80): 
    print("B");

elif(grade > 70):
    print("C");

elif(grade > 60):
    print("D");
    
else :
    print("Failed");

Enter the grade 76

C

In [10]:
product = 1;

while product <= 50:
    product *= 3;

print(product);

81

In [17]:
x = float(input("Enter first number: "));
y = float(input("Enter second number: "));
z = float(input("Enter third number: "));

largest = 0;
second_largest = 0;
smallest = 0;

if x > y and x > z:
    largest = x;
    if y > z:
        second_largest = y;
        smallest = z;
    else:
        second_largest = z;
        smallest = y;

if y > x and y > z:
    largest = y;
    if x > z:
        second_largest = x;
        smallest = z;
    else:
        second_largest = z;
        smallest = x;

if z > x and z > y:
    largest = z;
    if x > y:
        second_largest = x;
        smallest = y;
    else:
        second_largest = y;
        smallest = x;

print ("Sorted order of numbers: ", largest , ">", second_largest, ">", smallest);

Enter first number:  87
Enter second number:  34
Enter third number:  21

Sorted order of numbers:  87.0 > 34.0 > 21.0

In [16]:
sum = 0;

for i in range (101):
    sum += i;

print("Sum of first 100 numbers: ", sum)

Sum of first 100 numbers:  10

In [21]:
sum = 0;

for i in range (100):
    if i % 2 != 0:
        sum += i;

print(sum)

2500

In [22]:
sum = 0;

for i in range (1, 100, 2):
    sum += i;

print(sum);

2500

In [28]:
for i in range (10):
    for j in range (i+1):
        print("*", end="")
    print("\n")

*

**

***

****

*****

******

*******

********

*********

**********

In [29]:
for i in range (10, -1, -1):
    for j in range (i, -1, -1):
        print("*", end="")
    print("\n")

***********

**********

*********

********

*******

******

*****

****

***

**

*