In [16]:
mark_list = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94];
sum = 0;
for i in mark_list:
    sum += i;

average = sum / 10;

print("The average is:", average);

The average is: 81.7

In [19]:
a = 8;
print(f"Value of a is: {a}")

Value of a is: 8

In [41]:
name = "Debadarshi Omkar"
f = f"{name:<25}"
print(f)

Debadarshi Omkar

In [43]:
name = "Debadarshi Omkar"
f = f"{name:*<25}"
print(f)
f = f"{name:_^25}"
print(f)

Debadarshi Omkar*********
____Debadarshi Omkar_____

In [49]:
x = 4 / 3
formatted = f"{x:.2f}"
print(f"The value of x is: {formatted}")

The value of x is: 1.33

In [51]:
x = 4 / 3
formatted = f"{x:5.2f}"
print("The value of x is:",formatted)

The value of x is:  1.33

In [70]:
print("Number   ", "Square   ", "Cube")
for i in range(6):
    square = i ** 2
    cube = i ** 3
    
    formatted_num = f"{i:6.0f}"
    formatted_square = f"{square:7.0f}"
    formatted_cube = f"{cube:5.0f}"
    
    print(formatted_num," ", formatted_square, " ", formatted_cube)

Number    Square    Cube
     0         0       0
     1         1       1
     2         4       8
     3         9      27
     4        16      64
     5        25     125

In [82]:
print(f"{'number':>10} {'Square':>10} {'Cube':>10}")
for x in range(6):
    print(f"{x :> 10} {x ** 2 :> 10} {x ** 3 :> 10}")

    number     Square       Cube
         0          0          0
         1          1          1
         2          4          8
         3          9         27
         4         16         64
         5         25        125

In [83]:
number1 = 7
number2 = 5
print(f"7 times 5 is {7 * 5}.")

7 times 5 is 35.

In [96]:
total = 0;
grade_counter = 0;

while grade_counter >= 0:
    grade = int(input("Enter grade or to finish the process enter -1: "));
    if(grade != -1):
        total += grade
        grade_counter += 1
    else :
        break

if grade_counter == 0:
    print("No grades has been entered")
else :
    print(f"The average is: {total / grade_counter}")

Enter grade or to finish the process enter -1:  89
Enter grade or to finish the process enter -1:  89
Enter grade or to finish the process enter -1:  89
Enter grade or to finish the process enter -1:  -1

The average is: 89.0