In [1]:
from dataclasses import dataclass, field

In [2]:
@dataclass
class Point:
    x: float = 0
    y: float = 0

In [12]:
p1 = Point(1,2)
print(p1)

p2 = Point(1,2)
print(p2)

p3 = Point()
print(p3)

print(f'\np1 == p2 : {p1 == p2}')
print(f'p1 == p3 : {p1 == p3}')

Point(x=1, y=2)
Point(x=1, y=2)
Point(x=0, y=0)

p1 == p2 : True
p1 == p3 : False

In [14]:
@dataclass
class Person:
    name: str
    salary: float = field(default = 5000)
    department: str = field(default = 'IT', repr = False)

In [21]:
e1 = Person('Debadarshi', 1000, 'CSE')
print(e1)

e2 = Person('Omkar', 3000, 'DSAI')
print(e2)

e3 = Person('Debadarshi', 1000, 'CSE')

print(f'\ne1 == e2 : {e1 == e2}')     # Compares whether the values for all the attribute fields are equal or not
print(f'e1 == e3 : {e1 == e3}')

Person(name='Debadarshi', salary=1000)
Person(name='Omkar', salary=3000)

e1 == e2 : False
e1 == e3 : True

In [22]:
@dataclass
class Employee:
    names: list = field(default_factory = list)
    salary: float = field(default = 5000)
    department: str = field(default = 'IT', repr = False)    # By setting repr = false, the field is not printed during object printing

In [24]:
employees1 = Employee()
employees1.names.append('Virat')
employees1.names.append('Rohit')
print(employees1)

Employee(names=['Virat', 'Rohit'], salary=5000)

In [25]:
employees2 = Employee()
employees2

Employee(names=[], salary=5000)